<div class="container">
  <div  [hidden]="submitted">
    <h1>User Configurations</h1>
    <form (ngSubmit)="onSubmit()" #serverUrl="ngForm">
      <div class="form-group">
        <label for="serverUrl">Current Openmrs Server URL:</label> {{ openmrsServer }}
        <select class="form-control" id="openmrsServer" 
               required
               (ngModelChange)="saveUrlConfig($event)"
               [ngModel]="openmrsServer" name="serverUrl"
               #serverUrl="ngModel" >
          <option *ngFor="let url of serverUrls" [value]="url">{{url}}</option>
          <span class="glyphicon glyphicon-plus"></span>
        </select>
      </div>

      <button type="button" class="btn btn-default" (click)="addNewURL()">Add New</button>
    </form>
  </div>
</div>

<modal #addUrlModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Type in the URL</h4>
    </modal-header>
    <modal-body>
      <form (ngSubmit)="onSubmit()" #serverUrl="ngForm">
        <input type="text" placeholder="https://localhost:8080/openmrs"
         class="form-control" [(ngModel)]="addUrlModal.newUrl" name="newUrl" #newUrl="ngModel"/>
      </form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
      <button type="button" class="btn btn-default" data-dismiss="addUrlModal" (click)="addUrlModal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="saveNewURL(addUrlModal.newUrl)">Add</button>
    </modal-footer>
</modal>
